* {
    margin: 20;
    padding: 0;
}

body {
  background-color: #85B3D1FF
}

h1 {
  font-size: 150px;
  text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: separate;
    text-align: center;
    font-size: 30px;
    width: 100%;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 25px;
}

.legend {
  color: #85B3D1FF;
  text-shadow: 2px 2px 4px #000000;
}

.header {
  width: 1200px;
  border: 1px solid black;
  margin:auto;
  font-size: 30px;
}

.list {
  font-size: 18px;
  margin-left: 3%
}

#legend-color {
  background-color: #2460A7FF;
}

#legends-text {
font-size: 28px;
  color: #85B3D1FF;
}

#wc2 {
  background-color: #ffff66;
  border: 1px solid black;
  text-align: center;
  font-size: 40px
}

#foul {
  background-color: #ff4d4d;
  border: 1px solid black;
  text-align: center;
  font-size: 35px;
}

tr th {
  color: black;
  font-weight: bold;
  border: 1px solid black;
}

a[href] {
  font-weight: bold;
}

a:hover {
    color: white;
}
