body {
  background-color: #99ccff
}

h1 {
  font-size: 150px;
  text-align: center;
}

* {
    margin: 20;
    padding: 0;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 22px;
}

.legend {
  color: black;
  text-shadow: 2px 2px 4px #000000;
}

.header {
  width: 1200px;
  border: 1px solid black;
  margin:auto;
  font-size: 30px;
}

.list {
  margin-left: 3%
}

#legend-color {
  background-color: #ffff66;
}

#legends-text {
font-size: 25px;
  color: black;
}

#wc2 {
  background-color: #ffff66;
  border: 1px solid black;
  text-align: center;
  font-size: 40px
}

#foul {
  background-color: red;
  border: 1px solid black;
  text-align: center;
  font-size: 35px;
}

tr th {
  color: black;
}

a[href] {
  font-weight: bold;
}

a:hover {
    color: green;
}
